DEBUG=1
DJANGO_SECRET_KEY=change-me
ALLOWED_HOSTS=*

DB_ENGINE=postgres
DB_NAME=emaildb
DB_USER=emaildbuser
DB_PASSWORD=emaildbpassword
DB_HOST=db
DB_PORT=5432

GROQ_API_KEY=
GROQ_MODEL=llama-3.1-8b-instant
EMAIL_REPLY_MAX_WORDS=120
EMAIL_USER=aayyusshhpatel000@gmail.com
EMAIL_PASS=nczk ebvb hmrb bmzg
